@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Pacifico&display=swap');
h2{
    margin: 20px 400px 20px 400px;
    color:  #ffffff;
    font-size: 37px;
    text-align: center; 
    font-family: "Gamja Flower", serif;
    background-color: rgba(0, 0, 0, 0.337);
}
/* 3/3/25 added css because added h3 */
h3{
    font-family: "Gamja Flower", serif;
    color: #d5d5d5;
    font-size: 35px;
}
/* 3/3/25 added css because added h2 */
h4{
    font-family: "Gamja Flower", serif;
    color: #dedede;
    font-size: 25px;
    text-align: center;
}

p{
    font-family: "Gamja Flower", serif;
    color: #ffffff;
    font-size: 25px;
}
/* 3/3/25 added css because added discriptions */
.party{
    font-family: "Gamja Flower", serif;
    background-color: rgba(0, 0, 0, 0.505);
    margin: 1em auto;
    width: 750px;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}
section {
    font-family: "Gamja Flower", serif;
    background-color: rgba(0, 0, 0, 0.505);
    margin: 1.5em auto;
    width: 800px;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}
/* 2/24/25 chnaged background images */
html{
    background-size: 1570px;
    background-image:url(../media/background_paw.PNG) ;
}