.projectExamples {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    /* width: 90%;
    margin: 0 auto;*/
}

.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #5171c2;
    width: 25%;
    /*
    float: left;
    margin: 10px;flex-wrap: wrap;
    text-align: center;
    width: 20%;*/
}

.projectBox h4.semester {
    background:#2e97ed2d; 
    border: 1px dashed #00008833;
    color: #00008863;
    padding: 15px;
}

.projectBox img {
    margin-bottom: 20px;
}

.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #ffffff;
    background: #2666abbc;
    text-align: center;
    font-weight: bold;
    text-decoration: blueviolet;
    border-radius: 15px;
    padding: 1px;
}
footer {
    clear: left;
}
