@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Pacifico&display=swap');
h2{
    margin: 20px 400px 20px 400px;
    color:  #5e2e2e;
    font-size: 37px;
    text-align: center; 
    font-family: "Gamja Flower", serif;
    background-color: rgba(255, 255, 255, 0.893);
}
form{
    color:#5e2e2e;
    margin: 20px 400px 20px 400px;
    font-size: 27px;
    text-align: center;
    font-family: "Gamja Flower", serif;
    background-color: rgba(255, 255, 255, 0.669);
}

html{
    background-color: rgba(0, 0, 0, 0.658);
    background-size: 1570px;
    background-image:url(../media/pink_paw_background.png) ;
}

div {
    margin-bottom: 1em;
}
label {
    width: 11em;
    text-align: right;
}
input, select {
    margin-left: 1em;
    margin-right: 0.5em;
    padding: 0.25em;
}
select { 
    width: 13em; 
}
span {
    color: red;
}
.messages {
    color: red;
    font-weight: bold;
    list-style-type: none;
    padding: 10px;
    border: 2px solid red;
    background-color: #ffe6e6;
}
