
main{
    margin: 50px;
    border-style: none;
}

.yell{
    margin: 20px 100px 50px 150px;
    text-align: center;
    color:  #5e2e2e;
    font-family: "Gamja Flower", serif;
    font-size: 50px;
    
}

.stuff{
    margin-left: 200px;
    margin-right:200px;
    color:#191919;
    font-size: 21px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.79);
}

.info {
    font-size: 20px;
    text-align: center;

}
.info a{
    color:#7e4040;
    text-decoration: underline;
}

.info a:hover{
    color:#ba7474;
    font-size: 20.5px;

}

html{
    background-color: rgb(255, 255, 255);
    background-image: url(../media/djthatthang.png);
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: center;
    font-family: Arial, sans-serif;
}


 