@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Pacifico&display=swap');
h2{
    margin: 20px 400px 20px 400px;
    color:  #5e2e2e;
    font-size: 37px;
    text-align: center; 
    font-family: "Gamja Flower", serif;
    background-color: rgba(255, 255, 255, 0.893);
}
p{
    font-family: "Gamja Flower", serif;
    color: #5e2e2e;
    font-size: 25px;
}
main {
    font-family: "Gamja Flower", serif;
    background-color: rgba(255, 255, 255, 0.893);
    margin: 1em auto;
    width: 800px;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}
html{
    background-size: 1570px;
    background-image:url(../media/pink_paw_background.png) ;
}