/*added page 2/28/25*/
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Pacifico&display=swap');

p{
    color: #ffffff;
    font-size: 25px;
}
.design{
    /* 3/5/25 make it so that the text is on the left of the images*/
    margin: 5em auto;
}
.design img.portrait {
    margin-left: -100px; 
}


.info{
    /* 3/5/25 chnaged the look, feel, and placement*/
    background-color: rgba(0, 0, 0, 0.505);
   padding: 1em;
  border-radius: 1em;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  width: 100%;
  margin: 0;
}
.portrait{
    /* 3/5/25 added a border radius*/
    border-radius: 50%;
  max-width: 100%; 
  height: auto;
}
 /*3/5/25 changed footer*/
footer {
    padding-top: 20px;
    color: #b2b2b2;
    font-size: 10px;
    text-align: center;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.134);
    z-index: 1000; 
    position: relative; 
    margin: 2em; 
}
body, html{
    /*3/5/25 added a gradient*/
    color: #ffffff;
    text-align: center;
    font-family: "Gamja Flower", serif;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.516)),
    url(../media/background_paw.PNG);
    background-size: 100%, 1570px;
    background-repeat: no-repeat, repeat;
}