/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'quarmic sans';
    src: url('../fonts/qarmic_sans_abridged-webfont.woff') format('woff'),
         url('../fonts/qarmic_sans_abridged-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'quarmic sans', "Times New Roman", serif;
}