
/*Lea G
Oct 1*/

#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

main{
    background-color: #C5A98B;	 
    clear: both;
	padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-family: 'Trebuchet MS', Arial;	
    font-size: 60px;
}

h2{
    font-family: 'Brush Script MT', Arial;
    font-weight: normal;
    font-size: 40px;
    font-style: italic;	
}

main ul{
    list-style-image: url(../images/tomato.png);
}	

footer { 
    clear: both;
    background-color: rgba(75, 10, 10, 0.507) ;	
    font-size: .75em;
    text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
}

body{
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}
.floatright{
    float: right;
    margin: 3%;
}

.floatleft{
    float: left;
    margin: 3%;
}

