@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Pacifico&display=swap');
h2{
    margin: 20px 400px 20px 400px;
    color:  #ffffff;
    font-size: 37px;
    text-align: center; 
    font-family: "Gamja Flower", serif;
    background-color:rgba(0, 0, 0, 0.337);
}
form{
    color:#ffffff;
    margin: 20px 400px 20px 400px;
    padding: 2em;
    border-radius: 10%;
    font-size: 27px;
    text-align: center;
    font-family: "Gamja Flower", serif;
    background-color: rgba(0, 0, 0, 0.669);
}
body{
    min-height:  100vh;
}
.style{
    color: #cfcfcf;
    font-family: "Gamja Flower", serif;
    font-size: 35px;
}
html{
    background-color: rgba(0, 0, 0, 0.426);
    background-size: 1570px;
    background-image:url(../media/background_paw.PNG) ;
}

div {
    margin-bottom: 1em;
}
label {
    width: 11em;
    text-align: right;
}
input, select {
    margin-left: 1em;
    margin-right: 0.5em;
    padding: 0.25em;
}
select { 
    width: 13em; 
}
span {
    color: red;
}
.messages {
    color: red;
    font-weight: bold;
    list-style-type: none;
    padding: 10px;
    border: 2px solid red;
    background-color: #c9c9c96d;
}
