.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252525;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}


.nav li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #2e2e2e;
}

.nav .active {
  background-color: #d7d7d7;
}

.nav li .logo {
  height: 50px; 
  width: auto;  
  vertical-align: left; 
  padding-top: 15px; 
  padding-left: 10px;
  padding-right: 455px;
}

html{
  background-color: #2e2e2e;
}

@media screen and (max-width: 595px) {
  .nav li a {
    display: block;
    font-size: 1.5em; 
  }
}