h1{
    margin: 1px 900px 0px 230px;
    color:  #ffffff8c;
    background-color:  rgba(0, 0, 0, 0.669);
    font-size: 25px;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
}
