@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: left;
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }
  .main {
    color: #ffffff;
    margin: 0 40px; 
    padding: 2em;
    font-size: 27px;
    font-family: "Silkscreen", sans-serif;
    background-color: rgba(0, 0, 0, 0.669);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
    text-align: left;
}
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1001;
  }
  
  .nav li a:hover {
    background-color: #ff000057;
  }
  
  .nav li a:active {
    background-color: #6d2e2e;
  }
  body{
    min-height: 100vh;
    margin-top: 80px;
    font-family: "Silkscreen", sans-serif;
  }
html{
    font-family: "Silkscreen", sans-serif;
    background-color: rgb(58, 0, 0);
}